{% load static %}
{% block content %}
    <div class="modal fade" id="password_small_window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Update Password:</h3>
                </div>

                <div class="container-fluid">
                    <form role="form" action="{% url 'umbrella:updateUserPassword' %}" method="POST" id="password_form" name="password_form"
                          data-toggle="validator">
                        {% csrf_token %}
                        <div class="form-group">
                            <h5 for="new_password" class="control-label">Please Enter:</h5>
                            <input type="password" name="new_password" id="new_password" class="form-control"
                                   placeholder="New Password"
                                   data-minlength="8"
                                   required>
                            <div class="help-block">Minimum of 8 characters</div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="new_password_confirmation" id="new_password_confirmation" class="form-control"
                                   placeholder="Confirm new Password"
                                   data-match="#new_password"
                                   data-match-error="Whoops, these don't match" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </form>
                    <div class="modal-footer text-right">
                        <button id="save_password_button" type="submit" form="password_form" class="btn btn-primary">Save</button>
                        <button id="cancel_password_button" type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}