<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form  method="post" name="vote">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" formaction="{% url 'polls:vote' question.id %}"  value="Vote" name="vote" />
<input type="submit" formaction="{% url 'polls:virtualvote' question.id %}"  value="VirtualVote" name="virtualvote"  />
<input type="submit" formaction="{% url 'polls:google' question.id %}"  value="google it!" name="google"  />
</form>






