{% extends 'umbrella/base.html' %}
{% load customize_tab %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>About Project Umbrella</h1>
                <br>
                <div class="well">
                    <h2>Project Abstract</h2>
                    <p>
                        Project Umbrella is a platform for sharing messages, with a focus on physical location.
                        Whilst sharing your location is an afterthought on other social media platforms, Project Umbrella
                        provides a fun and easy way to share a moment with those in the immediate area.
                    </p>
                    <h2>Authors:</h2>
                    <ul>
                        <li>Jingkai Meng</li>
                        <li>Bakhtiyar Farayev</li>
                        <li>Austyn Guo</li>
                        <li>Louis Quinnell</li>
                        <li>Alexandru-Christel Pana</li>
                    </ul>
                    <h2>Other credits and acknowledgements:</h2>
                    <ul>
                        <li>To be added</li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- /.row -->

    </div>

    <!-- /.container -->
{% endblock %}