{% extends 'umbrella/base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9" style="padding: 0">
                <style>
                    html, body {
                        height: 100%;
                        margin: 0;
                        padding: 0;
                    }
                    #map {
                    {#  Below code sets height accounting for the 50px deep navbar #}
                        height: calc(100% - 50px);
                    }
                </style>
                <div id="map"></div>
                <script>
                    // Note: This example requires that you consent to location sharing when
                    // prompted by your browser. If you see the error "The Geolocation service
                    // failed.", it means you probably did not give permission for the browser to
                    // locate you.
                    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                    var labelIndex = 0;
                    function initMap() {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: -33.8886, lng: 151.1873},
                            zoom: 4
                        });
                        var infoWindow = new google.maps.InfoWindow({map: map});
                        // Try HTML5 geolocation.
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function(position) {
                                var pos = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                };

                                infoWindow.setPosition(pos);
                                infoWindow.setContent('Location found.');
                                map.setCenter(pos);
                            }, function() {
                                handleLocationError(true, infoWindow, map.getCenter());
                            });
                        } else {
                            // Browser doesn't support Geolocation
                            handleLocationError(false, infoWindow, map.getCenter());
                        };
                        var image = "{% static 'images/favicon.ico' %}";
                        {% for post in post_list%}
                            var post_location= { lat: {{ post.location.latitude }}, lng: {{ post.location.longitude }} };
                            var postContent = '{{ post.content }}';
                            addMarker(post_location, map, image, postContent);
                        {% endfor %}
                    }
                    function addMarker(location, map, image, postContent) {
                        // Add the marker at the clicked location, and add the next-available label
                        // from the array of alphabetical characters.
                        var marker = new google.maps.Marker({
                            position: location,
                            label: labels[labelIndex++ % labels.length],
                            map: map,
                            icon: image
                        });
                        attachPostContent(marker, postContent);
                    }
                    function attachPostContent(marker, postContent) {
                        var infowindow = new google.maps.InfoWindow({
                            content: postContent
                        });

                        marker.addListener('click', function() {
                            infowindow.open(marker.get('map'), marker);
                        });
                    }

                    // Data for the markers consisting of a name, a LatLng and a zIndex for the
                    // order in which these markers should display on top of each other.
                   function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                        infoWindow.setPosition(pos);
                        infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
                    }

                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgPN0ssQZLlxZn8dFofDfWR-_hzxFAXVk&signed_in=true&callback=initMap"
                        async defer>
                </script>
            </div>
            <div class="col-md-3">
                <h1>Example Sidebar</h1>
                <p>This sidebar is currently static for simplicity. A cool bonus (wishlist) could be to have a sliding sidebar :)</p>
                <p>This sidebar will most likely be where we post &amp; update the messages.</p>
            </div>
        </div>
    </div>

{% endblock %}