{% load static %}
{% block content %}

    <!-- <a href="#" data-toggle="modal" data-target="#register">plz work</a> -->

    <div id="updateUserProfile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateUserProfile"
         xmlns="http://www.w3.org/1999/html">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- custom styles for this template -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <form role="form" class="well" action="{% url 'umbrella:updateUserProfile' %}" method="POST" name="SubmitForm">
                                {% csrf_token %}
                                <input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="Display Name" tabindex="1">
                                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="2">
                                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="3">
                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="4">
                                <input type="submit" value="Update" class="btn btn-primary btn-block btn-lg" tabindex="5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}