body, html {
    margin: 0;
    overflow: hidden;
    height:100%;
}

@media (min-width: 768px){
    #left {
        /*position: absolute;*/
        /*top: 0px;*/
        /*bottom: 0;*/
        left: 0;
        width: 75%;
        /*overflow-y: scroll;*/
    }

    #right {
        /*position: absolute;*/
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        width: 25%;
        word-wrap: break-word;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    #left {
        height: 40%;
    }

    #right {
        height: 60%;
        overflow-y: scroll;
        word-wrap: break-word;
    }
}

/*@media (max-width: 768px){*/
    /*#left {*/
        /*height: 200px;*/
    /*}*/
/*}*/

#left {
    /*background-color: #FC6E51;*/
    /*text-align: center;*/
    /*height:100%;*/
}

#right {
    height:100%;
    /*background-color: #4FC1E9;*/
    /*text-align: center;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    /*Below code sets height accounting for the 50px deep navbar*/
    height: calc(100% - 50px);
}